<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <a class="navbar-brand" href="#">Book My Appointment</a>
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item active">
       <a class="nav-link" href="#">Home</a>
    </li>
  </ul>
</nav>
