<form name="addAppointment" novalidate [formGroup]="addAppointForm" (ngSubmit)="addEditAppointment()">
  <div class="form-group">
    <label for="firstname">First Name</label>
    <input type="text" class="form-control" id="firstname" formControlName="firstName">
    <div *ngIf="addAppointForm.controls.firstName.touched" class="error-message">
      <span [hidden]="!addAppointForm.controls['firstName'].hasError('required')">First name is required</span>
      <span [hidden]="!addAppointForm.controls['firstName'].hasError('maxlength')">First name is too long</span>
    </div>
  </div>

  <div class="form-group">
    <label for="lastname">Last Name</label>
    <input type="text" class="form-control" id="lastname" formControlName="lastName">
    <div *ngIf="addAppointForm.controls.lastName.touched" class="error-message">
      <span [hidden]="!addAppointForm.controls['lastName'].hasError('required')">last name is required</span>
      <span [hidden]="!addAppointForm.controls['lastName'].hasError('maxlength')">last name is too long</span>
    </div>
  </div>
  <div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="text" class="form-control" id="phone" formControlName="phone">
    <div *ngIf="addAppointForm.controls.phone.touched" class="error-message">
      <span [hidden]="!addAppointForm.controls['phone'].hasError('required')">Phone is required</span>
    </div>
  </div>
  <button type="button" class="btn btn-default" routerLink="/appointment/timesloats">Cancel</button>
  <button type="submit" class="btn btn-primary" [disabled]="!addAppointForm.valid">Save</button>
</form>