<!--<div class="list-group">
  <button type="button" class="list-group-item" routerLink="/appointment/book">9:00 AM</button>
  <button type="button" class="list-group-item">10:00 AM</button>
  <button type="button" class="list-group-item">11:00 AM</button>
  <button type="button" class="list-group-item">12:00 AM</button>
  <button type="button" class="list-group-item">1:00 M</button>
</div>-->

<div class="list-group">
  <button type="button" class="list-group-item" 
   [ngClass]="{'list-group-item-danger':timesloat.isBooked}"
   *ngFor="let timesloat of timesloats;let i = index" 
   (click)="redirectToDetail(timesloat.isBooked,i)">
   {{timesloat.time}}
  </button>
 
</div>
